 <style>
    * {
  box-sizing: border-box;
	font-style: normal;
    }
    body {
    background-color: #1e2124;
	  color: #fff;
    }
    h1 {
      text-align: center;
      margin-top: 100px;
      margin-bottom: 100px;
    }
    .navbar {
      color: #92ADCD;
    }
  </style>

  <h1 class="page-header">Easy Project-Tracker</h1> 

  <nav class="navbar bg-info">
    <form class="searchbar" action="#">
      <input type="text" placeholder="Search">
      <button type="text" class="gobtn go">Go</button>
    </form>
    <div>
        <a class="nav-link" id="loginbtn" href="/login">Login</a>
        <a class="nav-link" id="logoutbtn" href="/logout">Logout</a>
      <!-- <a href="#">Log In</a>
      <a href="#">Sign Up</a> -->
    </div>
  </nav>


  <!-- <div class="container">
    <div style="margin-top: 80px;" class="text-center p-5 mb-4 bg-light">
       
    </div>
  </div> -->

   <footer> 
    <p>Created by: Maxwell, Tess, Grayson, Cong, Liz </p>
  </footer>

  <script src="/js/index.js"></script>