<link rel="stylesheet" 
      href="/css/main.css">
 <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
      integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
      crossorigin="anonymous"/>

<header>
  <h1 class="title">Easy Project-Tracker</h1>
  <p class="subtitle">Created by: Maxwell, Tess, Grayson, Cong, Liz</p>
</header>

<nav class="navbar bg">
  <div class="container-fluid">
    <a class="nav-link btn" id="loginbtn" href="/login">Login</a>
    <a class="nav-link btn hidden" id="logoutbtn" href="/logout">Logout</a>
    <p class="">logged in as: add username here</p>
    <form class="d-flex" role="search">
      <input class="form-control me-2" type="search" placeholder="Search"
        aria-label="Search">
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
  </div>
</nav>

<div class="container">

  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="/assets/150x150-2-500x500.png" alt="Card image cap">
    <div class="card-body">
      <a href="/mindmap" class="btn btn-primary">Project Title. Click to view</a>
      <button class="fas fa-trash-alt float-right text-danger deleteBtn"></button>
    </div>
  </div>

</div>
<!-- <div class="container">
    <div style="margin-top: 80px;" class="text-center p-5 mb-4 bg-light">
       
    </div>
  </div> -->

<footer>
  <p class="footertxt">Its dark because its kind to the eyes and the planet! Live in
    darkness!</p>
</footer>

<script src="/js/index.js"></script>