<link rel="stylesheet" href="/css/main.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.3.0/css/all.css"
  integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
  crossorigin="anonymous" />

<header>
  <h1 class="title">Easy Project-Tracker</h1>
  <p class="subtitle">Created by: Maxwell, Tess, Grayson, Cong, Liz</p>
</header>

<nav class="navbar bg">
  <div class="container-fluid">
    <a class="nav-link btn" id="loginbtn" href="/login">Login</a>
    <a class="nav-link btn hidden" id="logoutbtn" href="/logout">Logout</a>
    <p class="">logged in as: add username here</p>
    <a href="/mindmap" class="nav-link btn addProject">Start New Project</a>
  </div>
</nav>

<div class="container row-6">
  <div classrow-6>
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="/assets/150x150-2-500x500.png" alt="Card image cap">
      <div class="card-body">
        <a href="/mindmap" class="btn btn-primary">Project Title. Click to view</a>
        <button class="fas fa-trash-alt float-right text-danger deleteBtn"></button>
      </div>
    </div>

    <a href="/mindmap" class="fa-duotone fa-plus-large"></a>
  </div>
</div>

<footer>
  <p class="footertxt">Its dark because its kind to the eyes and the planet! Live in
    darkness!</p>
</footer>

<script src="/js/index.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" 
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" 
        crossorigin="anonymous"></script>