<h1 class="page-header">Easy Project-Tracker</h1> 

  <nav class="navbar bg-info">
    <form class="searchbar" action="#">
      <input type="text" placeholder="Search">
      <button type="text" class="gobtn go">Go</button>
    </form>
    <div>
      <button type="text" class="btn login">Log In</button>
      <button type="text" class="btn signup">Sign Up</button>
    </div>
  </nav>
    
   <footer> 
    <p>Created by: Maxwell, Tess, Grayson, Cong, Liz</p>
  </footer>
