/*? #424549
/*? #36393e
/*? #282b30	
/*? #1e2124
*/

.hidden {
  display: none;
}

body {
  background-color: #1e2124;
	color: #fff;
}

.title {
  text-align: center;
  margin-top: 100px;
}

.subtitle {
  text-align: center;
  margin-bottom: 100px;
}

.footertxt {
  position: absolute;
  bottom: 5px;
  width: 100%;
  text-align: center;

}

.hidden {
  display: none;
}

.navbar {
  background-color: #282b30;
  color: white;

  margin-top: 20px;
  margin-bottom: 20px;
  padding: 15px;
}

.btn {
  background-color: #36393e;
  border:none;
  padding: 5px;
}

.btn:hover {
  background-color: cyan;
  color: black;
}

.card-body {
  display: flex;
  justify-content: space-evenly;
}

.deleteBtn {
  font-size: 1.5rem;
  border: none;
}

.login-card {
  display: flex;
}

.centered {
  position: fixed;
  top: 50%;
  left: 35%;
  margin-top: -50px;
  margin-left: -100px;
}

    /* .navbar {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 50px;
      padding: 10px 20px;
      background-color: #333;
      color: #fff;
    }

    .navbar a {
      color: #fff;
      text-decoration: none;
      margin-right: 20px;
    }

    .navbar input[type="text"] {
      width: 200px;
      height: 30px;
      padding: 5px;
      border: none;
      border-radius: 5px;
      margin-right: 20px;
    }

    .navbar button {
      height: 30px;
      padding: 5px 10px;
      background-color: #fff;
      color: #333;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    } */